

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("image.png");
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1 {
  color: RGBA( 105, 105, 105, 1 );
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0 50px 0;
  text-shadow: 1.6px 1.6px 3.2px black
}

h2 {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0 50px 50px;
  text-shadow: 1.6px 1.6px 3.2px black
}

h3 {
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0 75px 50px;
  text-shadow: 1.6px 1.6px 3.2px black
}

h4 {
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px 0px 10px;
    text-shadow: 1.6px 1.6px 3.2px black
  }

a {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-decoration: none;
}
video {
  width: 100%;
}


aside {
    display: block;
}

aside.container{

    width : 400px;
}

section {
  width: 70%;
  display: inline-block;
}


.container {
	border-radius: 10px;
  margin: auto;
	position: relative;
	overflow: hidden;
  align-self: center;
	width: 768px;
	max-width: 100%;
}

ul {
  padding-left: 75px;
  color: white;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-shadow: 1.6px 1.6px 3.2px black
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:RGBA( 128, 128, 128, 1 );
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
}

.navbutton {
  display: inline-block;
  border-radius: 10%;
}

.navbutton a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  transition: all 0.2s ease;
  text-decoration: none;
}

.active {
  background-color:RGBA( 211, 211, 211, 1 );
}

.navbutton a:hover {
  background-color: RGBA( 211, 211, 211, 1 );
}

.navbutton a:hover:not(.active) {
  background-color: white;
}


.button {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  color: white;
  text-shadow: 1.6px 1.6px 3.2px black;
  transition: all 0.5s;
  position: relative;
  align-self: center;
  margin: auto;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(212, 150, 122, 0.1);
  transition: all 0.3s;
}
.button:hover::before {
  opacity: 0 ;
  transform: scale(0.4,0.4);
}
.button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}


form {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form1{
	background: none;
	margin: 0;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
}

textarea {
  resize: none;
}

::placeholder {
  color: white;
}

.skills{

    width: 500px;
    margin: 60px auto;
    color: white;
}

.skills li{
    margin: 20px 0;
}

.bar{

    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow:0 0 10px #2187e7b3;
}

.meca{
    width: 85%;
    animation: meca 2s;
}
.info{
    width: 65%;
    animation: info 2s;
}
.bdd{
    width: 50%;
    animation: bdd 2s;
}
.web{
    width: 65%;
    animation: web 2s;
}

.bar span{
    height: 5px;
    float: left;
    background: #2187e7;
}

@keyframes meca {0%{width: 0%;}
100%{width: 85%;}}

@keyframes info {0%{width: 0%;}
100%{width: 65%;}}

@keyframes bdd {0%{width: 0%;}
100%{width: 50%;}}

@keyframes web {0%{width: 0%;}
100%{width: 65%;}}

.fa {
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 20%;
  align-self: center;
}

.fa:hover {
    opacity: 0.6;
}

.fa-linkedin{
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa-github {
    background: black;
    color: white;
  }
